body {
    display: flex;
    background-color: #7dd56f;
    font-family: sans-serif;
    color: #333333;
    line-height: 1.5;
    height: 100vh;
    position: relative;
    align-items: flex-start;
    justify-content: center;
    background: linear-gradientto(to top left, #28b487, #7dd56f);
    flex-wrap: wrap;
}

h1{
  padding: 70px 20px;
      }

h2{
padding: 50px;
}

label{
padding: 30px;
}
input {
    width: 130px;
    height: 30px;
    border-radius: 10px;
}

button{
    padding: 50px;
}